engine-strict=true
@Xcential-Corporation:registry=https://npm.pkg.github.com/Xcential-Corporation
@Xcential-Corporation:always-auth=true
npm.pkg.github.com/:_authToken=$(NPMTOKEN)
registry=https://registry.npmjs.com/